.text-button-changer{
    display: flex;
    flex-direction: column;
}

.text-button-changer h1{
    text-align: center;
    color: rgb(131, 94, 45);
}

.text-button-changer button {
    background-color: blanchedalmond;
    margin: 5px 0px;
    padding: 3px 0px;
}